nav{
  padding:3*$padding;
  background: $backColor;
  border:2px solid $fontColor;
  width:$width;
  height: 100vh; //this gives the menu to cover all the screen in vertical way//
  display:none;
  z-index:3;
  position:fixed;
  top: 0px;
  left:0px;
  ul{
    li{
      padding:$padding;
      a{
        color:$fontColor;
      }
    }
  }
}
.active{ /*so because before we said none, will work now when is active*/
  display: block;
}
